h1 Todo List
form(action="/todos" method="GET")
  input(type="text" name="q" value=contentSearch)
  button Search
form(action="/todos/create" method="POST")
  input(type="text" name="newItem")
  button Create
ul
  each todo in todos
    li
      span=todo.content 
      a(href="/todos/"+ todo.id +"/delete") Xóa